# Data
data/splits/
data/processed/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Experiments & outputs
experiments/hyperparameter_search
tabnet_fs/outputs/
cnn/cnn_models/
#running_all_models/results/
running_all_models/misclassified/
running_all_models/roc_data/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
to_do.txt
to_csv.py
debug.py
catboost_info
cache/

running_all_models/studies/*.db
running_all_models/studies/*.db-journal
running_all_models/studies/*.db-wal
running_all_models/studies/*.db-shm