# Data
data/splits/
data/processed/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Experiments & outputs
experiments/
tabnet_fs/outputs/
cnn/cnn_models/

# Results and outputs
running_all_models/results_parallel/
running_all_models/results/
running_all_models/results_hyperparameter/
running_all_models/misclassified/
running_all_models/roc_data/
running_all_models/studies/
running_all_models/best_params/

# Archive
archive/

# Optuna studies
*.db
*.db-journal
*.db-wal
*.db-shm

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
to_do.txt
to_csv.py
debug.py
catboost_info
cache/